:root{
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: #ffffff;
    --black: #00000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px; 
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,220px);
    gap: 26px;
    place-content: center;
}
.product-card{
    width: 216px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.product-card img{
    max-height: 220px;
    width: 100%;
    border-radius: 18px;
    margin-top: 12px;
    object-fit: cover;
}
.product-card > div,.product-card figure{
    margin-top: 8px;
}
.product-card figure img{
    width: 38px;
    margin-right: 4px;
}
.product-card > div >p:nth-of-type(1){
    font-weight: 700;
    font-size: var(--md);
    color: var(--black);
    margin-bottom: 2px;
}   
.product-card > div >p:nth-child(2){
    color: var(--very-light-pink);
    font-weight: 300;
    font-size: var(--sm);
}
@media (max-width:640px) {
    .cards-container{
        grid-template-columns:repeat(auto-fill,138px) ;
    }
    .product-card{
        width: 138px;
    }
    .product-card img{
        max-height: 138px;
    }
}
