:root{
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: #ffffff;
    --black: #00000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px; 
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.nav-container {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
}
.nav-container .icon-menu{
    margin-left: 22px;
}
.nav-container .cart{
    margin-right: 22px;
}
.logo{
    width: 120px;
}
.account{
    width: 92%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0 auto;
}
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    margin-top: 36px;
}
.form{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
}
.title{
    margin-bottom: 0px;
}
.title h1{
    font-size: var(--lg);
    font-weight: bold;
}
.label{
    margin-top: 12px;
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 4px;
}
.label-name{
    margin-top: 12px;
}
.input{
    height: 36px;
    border: none;
    background-color: var(--text-input-field);
    border-radius: 8px;
    padding-left: 8px;
}
.input::placeholder{
    color: var(--very-light-pink);
}
.create{
    position: absolute;
    bottom: 20px;
    align-self: center;
    width: 92%;
    height: 36px;
    background-color: var(--hospital-green);
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-size: var(--md);
    font-weight: bold;
}